.documents {
  padding-top: 20px;
  .documents__category {
    margin-top: 50px;
    position: relative;
    .documents__title {
      font-weight: 400;
      font-size: 24px;
      line-height: 28px;
      @media(max-width: 555px){
        font-size: 20px;
      }
    }
    input {
      margin-top: 30px;
    }
    .documents__input {
      width: 482px;
      height: 60px;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 5px;
      margin-top: 30px;
      &.documents__input__short {
        height: 47px;
      }
      @media(max-width: 555px){
        width:95%;
      }
    }
  }
}
