.login_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    margin-top: 200px !important;
    display: flex;
    justify-content: center;
    font-weight: 400;
  }
  h4 {
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
  }
  .login {
    margin: 60px 0px 0px 0px;
  }
  .password {
    margin: 40px 0px 0px 0px;
  }

  @media (max-width: 320px) {
    .input {
      width: 300px !important;
    }
    .title {
      margin-top: 100px !important;
    }
    .button {
      margin-bottom: 30px !important;
    }
  }
  .input {
    width: 482px;
    height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 4px 10px;
    @media (max-width: 555px) {
      width: 420px;
    }
    @media (max-width: 470px) {
      width: 370px;
    }
    @media (max-width: 410px) {
      width: 300px;
    }
    @media (max-width: 340px) {
      width: 260px;
    }
  }
  .link {
    display: flex;
    justify-content: flex-end;
  }
  .button {
    width: 264px;
    height: 63px;
    left: 445px;
    top: 1094px;
    background: #42b4f4;
    border-radius: 5px;
    font-size: 20px;
    line-height: 23px;
    color: #ffffff;
    border: none;
    margin: 50px 0px 195px 0px;
  }
  button:hover {
    color: #001f3f;
    background-color: #68c9ff;
  }
}
