.button {
  width: 264px;
  height: 63px;
  left: 445px;
  top: 1094px;
  background: #42b4f4;
  border-radius: 5px;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  border: none;
  margin-top: 50px;
}
